{% extends 'base.html' %}
{% block header %}
<section id="catalog_view">
    <a href="{{ url_for('boards.board_catalog', board=cboard) }}">Catalog</a>
</section>
{% endblock header %}
{% block body %}
<main id="board_paged">
    <form class="add-post" method="post" enctype="multipart/form-data">
        <p>Add post</p>
        <textarea name="body" type="text" cols=30 rows=8 required></textarea>
        <label class="file-input" for="file-in">Upload file</label>
        <input id="file-in" name="file-in" type="file">
        <button>Post</button>
    </form>
    {% for ftt, post in posts %}
    <article class="post">
        {% if post.filename %}
            <section class="left">
                <a href="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+post.filetype) }}">{{ post.filename }}</a>
                {% if ftt == 'image' %}
                    <img src="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+
                         post.filetype) }}"
                 alt="IMAGE_GOES_HERE">
                {% elif ftt == 'video' %}
                    <video controls>
                        <source src="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+post.filetype) }}" type="video/{{ post.filetype }}">
                    </video>
                {% endif %}
            </section>
        {% endif %}
        <section class="right">
            <span>{{ post["uid"] }}</span>
            <p>{{ post["body"] }}</p>
        </section>
    </article>
    {% endfor %}
</main>
{% endblock body %}

