{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
{% endblock head %}
{% block body %}
<main id="board_catalog">
    {% for page, posts in pposts %}
    {% for post in posts %}
    <article class="post">
        {% if post.filename %}
        <a href="{{ url_for('boards.board_paged', board=cboard, page=page) }}">
        {% if post.ftt == 'image' %}
        <img src="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+
                      post.filetype) }}"
             alt="IMAGE_GOES_HERE">
        {% elif post.ftt == 'video' %}
        <video controls>
            <source src="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+post.filetype) }}"
                    type="video/{{ post.filetype }}">
        </video>
        {% endif %}
        </a>
        {% endif %}
        <span><b>R:</b> {{ post["responses"]|length }}</span>
        <span>{{ post["body"] }}</span>
    </article>
    {% endfor %}
    {% endfor %}
</main>
{% endblock body %}


