{% extends 'base.html' %}
{% block body %}
<main id="board_catalog">
    {% for post in posts %}
    <article class="post">
        {% if post.filename %}
            {% if post.ftt == 'image' %}
                <img src="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+
                     post.filetype) }}"
             alt="IMAGE_GOES_HERE">
            {% elif post.ftt == 'video' %}
                <video controls>
                    <source src="{{ url_for('static', filename='POSTS/DEVELOPMENT/'+post.uid+'.'+post.filetype) }}"
                            type="video/{{ post.filetype }}">
                </video>
            {% endif %}
        {% endif %}
        <span><b>R:</b> {{ post["responses"]|length }}</span>
        <span>{{ post["body"] }}</span>
    </article>
    {% endfor %}
</main>
{% endblock body %}


