{% extends 'base.html' %}
{% block body %}
<main id="board_paged">
    <form class="add-post" method="post">
        <p>Add post</p>
        <textarea name="body" type="text" cols=30 rows=8 required></textarea>
        <label class="file-input" for="file">Upload file</label>
        <input id="file" name="file" type="file">
        <button>Post</button>
    </form>
    {% for post in posts %}
    <article class="post">
        <section class="left">
            <span>File balblabaablballabl</span>
            <img src="" alt="IMAGE_GOES_HERE">
        </section>
        <section class="right">
            <span>headerheader</span>
            <p>{{ post["body"] }}</p>
        </section>
    </article>
    {% endfor %}
</main>
{% endblock body %}

