* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 11pt;
    color: var(--fg-a);

    /* Scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--link-a) var(--bg-a);
}

body {
    height: 100%;
    width: 100%;
    padding-bottom: 1.5rem;
    background-color: var(--bg-a);
}

a {
    color: var(--link-a);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.alt {
    color: var(--link-b);
}

label[for="file-in"]:hover, button:hover {
    filter: brightness(120%);
}

main#board_paged {
    padding: 0 5px 0 1rem;
}

main .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--bd-a);
    border-bottom: 1px solid var(--bd-a);
}

header {
    margin-bottom: 1rem;
}

header > * {
    padding: 0.5rem;
}

header #boards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 1px solid var(--bd-a);
}

header #boards a {
    margin: 0 5px;
}

header #catalog_view {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--bd-a);
}

.add-post {
    margin-left: 0.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--bd-a);
}

.add-post .file-input, .add-post textarea, .add-post button {
    border: 1px solid var(--bd-a);
    background-color: var(--bg-b);
    padding: 0.25rem;
    display: block;
    font-weight: normal;
    color: var(--fg-b);
}

.add-post textarea {
    margin: 0.15rem 0 5px 0;
    max-width: 90%;
}

.add-post .file-input {
    margin: 0 0 0.75rem 0;
    padding: 4px 1.56rem;
    display: inline-block;
}

.add-post input[type="file"] {
    position: absolute;
    z-index: -1;
    left: 1.9rem;
}

.add-post button {
    padding: 0.25rem 0.75rem;
}

#board_paged .thread {
    border-bottom: 1px solid var(--bd-a);
}

#board_paged .left a {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.2rem;
}

#board_paged .right {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

#board_paged .right label {
    font-size: 0.75rem;
    cursor: text;
}

#board_paged .post {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 1rem 1rem;
    min-height: 5rem;
}

#board_paged .post .left {
    display: inline-flex;
    flex-direction: column;
    margin-right: 0.5rem;
    max-width: 15%;
}

#board_paged .post .left img,  .post .left video {
    min-width: 10%;
    max-width: 100%;
}

#board_paged .post .right p {
    color: var(--black);
    word-break: break-word;
}

#board_paged .response {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0 2rem 1rem;
    border-bottom: 1px solid var(--bd-a);
    min-height: 5rem;
}

#board_paged .response .left {
    display: inline-flex;
    flex-direction: column;
    margin-right: 0.5rem;
    max-width: 12.5%;
}

#board_paged .response .left img,  .response .left video {
    min-width: 10%;
    max-width: 100%;
}

#board_paged .response .right {
    display: flex;
    flex-direction: column;
}

#board_paged .response .right p {
    color: var(--black);
    word-break: break-word;
    font-size: 0.95rem;
}

#board_catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

#board_catalog .post {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--bd-a);
    padding: 1rem;
    margin: 1rem;
}

#board_catalog .post img, #board_catalog .post video {
    max-width: 100%;
    max-height: 20rem;
    margin-bottom: 5px;
}

#board_catalog .post span {
    color: var(--black);
    overflow: hidden;
    text-overflow: auto;
    max-height: 4.5rem;
    text-align: center;
}

#index section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index section * {
    font-size: 1.4rem;
    text-align: center;
    max-width: 60%;
}

#index section h1 {
    font-size: 1.55rem;
    margin-bottom: 0.5rem;
}
