* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14pt;
    color: var(--fg-a);
}

body {
    height: 100%;
    width: 100%;
    padding-bottom: 1.5rem;
    background-color: var(--bg-a);
}

a {
    color: var(--link-a);
    text-decoration: none;
}

a.alt {
    color: var(--link-b);
}

main#board_paged {
    padding: 0 5px;
}

main .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--bd-a);
    border-bottom: 1px solid var(--bd-a);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--bd-a);
}

header a {
    margin: 0 5px;
}

article.post {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--bd-a);
    min-height: 5rem;
}

.add-post {
    margin-left: 0.25rem;
}

.add-post .file-input, .add-post textarea, .add-post button {
    border: 1px solid var(--bd-b);
    background-color: var(--bg-b);
    padding: 0.25rem;
    display: block;
}

.add-post textarea {
    margin: 0.15rem 0 0.25rem 0;
    max-width: 90%;
}

.add-post .file-input {
    margin: 0 0 0.75rem 0;
    padding: 0.25rem 1.25rem;
    display: inline-block;
}

.add-post input[type="file"] {
    position: absolute;
    z-index: -1;
    left: 1.3rem;
}

.add-post button {
    padding: 0.25rem 0.75rem;
}

.post .left {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.post .left img {
    max-width: 15%;
    margin-left: 1rem;
}

.post .left p {
    word-break: break-word;
}

.post .right {
    display: flex;
    flex-direction: column;
}

.post .right span {
    font-weight: bold;
}

.post .right p {
    margin-left: 5px;
}

#index section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index section * {
    font-size: 1.4rem;
    text-align: center;
    max-width: 60%;
}

#index section h1 {
    font-size: 1.55rem;
    margin-bottom: 0.5rem;
}
