:root {
    /* Main colors */
    --bg-a: #1D1F21;
    --bg-b: #444;
    --black: #fff;
    --fg-a: #eee;
    --fg-b: #fff;
    --bd-a: #676F87;
    /* Other colors */
    --link-a: #A2BEFF;
    --link-b: #A2BEFF;
}
