:root {
    /* Main colors */
    --bg-a: #CAC4B8;
    --bg-b: #444;
    --black: #000;
    --white: #fff;
    --fg-a: #86120D;
    --fg-b: #FFBFBD;
    --bd-a: #931B15;
    /* Other colors */
    --link-a: #8F1A14;
    --link-b: #BF174A;
    --stb: #500;
}
